/* reset: permet d'effacer le style par defaut imposé par le navigateur*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

}


.btn {
    background-color: gray;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.btn-primary {
    font-size: 25px
}

.btn-secondary {
    font-size: 14px;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* classe fontionnelltes flex box*/
/* rendre flexible un parent = aligner ses enfants */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;

}

.justify-content {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.aligne-center {
    align-items: center;
}

.texte-align{
    text-align: center;
}

/* classe de dimention */
.w-100 {
    width: 100%;
}
.w-48{
    width: 48%;
}
.w-50 {
    width: 50%;
}

.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}

.w-20{
    width: 20%;
}


.logo {
    width: 100px;
}

header ul {
    list-style: none;
}

/* header*/
header {
    position: fixed;
    top: 0;
    left: à;
    width: 100%;

}

/*section hero*/
.section-hero {
    background-image: url("asset/Placeholder-img-rect-big.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section-hero div {

    text-align: center;

}



.section-hero div p {
    margin-bottom: 50px;
    font-size: 25px;
}

.card {
    box-shadow: 5px 5px 10px rgba(33, 32, 32, 0.194);
    
background-color: white;
}

.card h3 {
    margin-bottom: 20px;
}

.margin-bottom {
    margin-bottom: 51px;
}

.margintop-100 {
    margin-top: 100px;
}
.border-radius{
    border-radius: 20px;
}

.zeno{
    margin-top: ;
}
.padding{
   padding:  1em;
}

/* Frame 21 */

.foot{


background: #655649;

}


.avis{
    background-color: #f2eae4;
}


.savoir{
    background-color: #F2EAE4;
}


.mage{
    background-image: url(asset/baniere.png);
height: 100vh;
background-repeat: no-repeat;
   padding: auto;
    
}

.gap{

    gap: 10px;
}








.justify-center{

justify-content: center;
}




